@font-face {
  font-family: 'CJ ONLYONE NEW title';
  src:
    url('/fonts/CJ_ONLYONE/CJ ONLYONE NEW title Medium_11172.woff2') format('woff2'),
    url('/fonts/CJ_ONLYONE/CJ ONLYONE NEW title Medium_11172.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'CJ ONLYONE NEW title';
  src:
    url('/fonts/CJ_ONLYONE/CJ ONLYONE NEW title Bold_11172.woff2') format('woff2'),
    url('/fonts/CJ_ONLYONE/CJ ONLYONE NEW title Bold_11172.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
