.header {
  position: fixed;
  top: var(--safeArea-t);
  left: 0;
  width: 100%;
  padding-top: 30px;
  background-color: transparent;
}
.headerContent {
  padding: 0 3.13vw;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.headerContent > * {
  flex-shrink: 0;
}
.gnbVisible .headerContent,
.searchActive .headerContent {
  box-shadow: none;
}

.logo {
  flex-shrink: 0;
  margin-right: 3.13vw;
}

/* 카테고리 */
.categoryWrapper {
  margin-right: 4.17vw;
}
.categoryBtn {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 88px;
  @apply text-xl;
  font-weight: 500;
}
.categoryBtn::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  background: url('/images/icon/category.svg') no-repeat center/contain;
}
.categoryBtn.active {
  @apply text-primary;
}
.categoryBtn.active::before {
  background-image: url('/images/icon/category_active.svg');
}
.categoryDropdown {
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
  @apply border border-primary;
}
.categoryDepth2 {
  width: 413px;
}
.categoryDepth2 > li {
  display: flex;
}
.categoryDepth2 > li > a {
  display: flex;
  align-items: center;
  width: 197px;
  padding: 8px 16px;
  gap: 8px;
  @apply text-base text-gray-500;
  letter-spacing: 0;
}
.categoryDepth2 > li > a::before {
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.categoryDepth2 > li.active > a,
.categoryDepth2 > li.active > button {
  @apply bg-amber-50 text-primary;
}
.categoryDepth2 > li .ico1::before {
  background-image: url('/images/icon/category1.svg');
}
.categoryDepth2 > li.active .ico1::before {
  background-image: url('/images/icon/category1_hover.svg');
}
.categoryDepth2 > li .ico2::before {
  background-image: url('/images/icon/category2.svg');
}
.categoryDepth2 > li.active .ico2::before {
  background-image: url('/images/icon/category2_hover.svg');
}
.categoryDepth2 > li .ico3::before {
  background-image: url('/images/icon/category3.svg');
}
.categoryDepth2 > li.active .ico3::before {
  background-image: url('/images/icon/category3_hover.svg');
}
.categoryDepth2 > li .ico4::before {
  background-image: url('/images/icon/category4.svg');
}
.categoryDepth2 > li.active .ico4::before {
  background-image: url('/images/icon/category4_hover.svg');
}
.categoryDepth2 > li .ico5::before {
  background-image: url('/images/icon/category5.svg');
}
.categoryDepth2 > li.active .ico5::before {
  background-image: url('/images/icon/category5_hover.svg');
}
.categoryDepth2 > li .ico6::before {
  background-image: url('/images/icon/category6.svg');
}
.categoryDepth2 > li.active .ico6::before {
  background-image: url('/images/icon/category6_hover.svg');
}
.categoryDepth2 > li .ico7::before {
  background-image: url('/images/icon/category7.svg');
}
.categoryDepth2 > li.active .ico7::before {
  background-image: url('/images/icon/category7_hover.svg');
}
.categoryDepth2 > li .ico8::before {
  background-image: url('/images/icon/category8.svg');
}
.categoryDepth2 > li.active .ico8::before {
  background-image: url('/images/icon/category8_hover.svg');
}
.categoryDepth2 > li .ico9::before {
  background-image: url('/images/icon/category9.svg');
}
.categoryDepth2 > li.active .ico9::before {
  background-image: url('/images/icon/category9_hover.svg');
}
.categoryDepth2 > li .ico10::before {
  background-image: url('/images/icon/category10.svg');
}
.categoryDepth2 > li.active .ico10::before {
  background-image: url('/images/icon/category10_hover.svg');
}
.categoryDepth2 > li .ico11::before {
  background-image: url('/images/icon/category11.svg');
}
.categoryDepth2 > li.active .ico11::before {
  background-image: url('/images/icon/category11_hover.svg');
}
.categoryDepth2 > li .ico12::before {
  background-image: url('/images/icon/category12.svg');
}
.categoryDepth2 > li.active .ico12::before {
  background-image: url('/images/icon/category12_hover.svg');
}
.categoryDepth2 > li .ico13::before {
  background-image: url('/images/icon/category13.svg');
}
.categoryDepth2 > li.active .ico13::before {
  background-image: url('/images/icon/category13_hover.svg');
}
.categoryDepth3 {
  display: none;
  position: absolute;
  right: 0;
  bottom: 16px;
  top: 16px;
  width: 216px;
  padding: 0 16px;
  box-sizing: border-box;
  @apply border-l border-gray-100;
}
.categoryDepth3 ul > li a {
  display: flex;
  align-items: center;
  width: 184px;
  min-height: 40px;
  padding: 8px 16px;
  @apply text-base text-gray-500;
  letter-spacing: 0;
}
.categoryDepth3 ul > li a:hover {
  @apply text-primary bg-amber-50;
}

/* GNB */
.gnbDepth1 {
  gap: 0 3.13vw;
}
.bg {
  content: '';
  position: absolute;
  left: 0;
  top: calc(30px + 88px);
  width: 100%;
  @apply bg-white border-t border-gray-100;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
}
.gnbDepth1 > li {
  position: relative;
}
.gnbDepth1 > li > a,
.gnbDepth1 > li > button {
  display: flex;
  height: 88px;
  align-items: center;
  @apply text-xl;
  font-weight: 500;
}
.gnbDepth1 > li:hover > a,
.gnbDepth1 > li:hover > button {
  @apply text-primary;
}
.header:not(.searchActive) .gnb.gnbVisible .gnbDepth2,
.header:not(.searchActive) .gnb.gnbVisible .bg,
.header:not(.searchActive) .gnb.gnbVisible {
  opacity: 1;
  visibility: visible;
}
.gnbDepth2 {
  position: absolute;
  left: 50%;
  top: 100%;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  padding: 16px 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  transform: translateX(-50%);
}
.gnbDepth2 > li > a,
.gnbDepth2 > li > button {
  display: flex;
  height: 40px;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
}
.gnbDepth2 > li > a:hover,
.gnbDepth2 > li > button:hover {
  @apply bg-amber-50 text-primary;
}

/* 검색 */
.searchArea {
  margin-left: 4.17vw;
  flex: 1;
  justify-content: end;
}
.searchBtn {
  max-width: 280px;
  width: 100%;
  flex: 1;
  height: 48px;
  padding-right: 50px;
  background: theme('colors.gray.100') url('/images/icon/search_brown.svg') no-repeat right 24px
    center;
  border: none;
  text-align: left;
  padding-left: 24px;
  padding-right: 50px;
  margin-right: 2.08vw;
}
.searchBtn > span {
  @apply line-clamp-1;
  @apply text-base;
  @apply text-placeholder;
}
.searchOverlay {
  padding: 60px 0 100px;
  margin-left: -16px;
  margin-right: -16px;
}
.overlayDim {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.searchForm {
  position: relative;
}
.searchKeywords {
  @apply mt-[38px] lg:mt-[60px];
}
.keywordTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @apply text-base lg:text-xl;
  font-weight: 500;
  margin-bottom: 20px;
}
.keywordTitle button {
  @apply text-sm text-gray-500;
  font-weight: 400;
  letter-spacing: 0;
}
.keywordList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.keywordList span {
  display: flex;
  align-items: center;
  gap: 0 4px;
  padding: 6px 12px;
  @apply bg-gray-100 text-gray-500 transition-all text-sm;
}
.keywordList span button {
  width: 12px;
  height: 12px;
  background: url('/images/icon/close_small.svg') no-repeat center/contain;
}
.keywordList span:hover {
  @apply bg-secondary text-white;
}
.keywordList span:hover button {
  background-image: url('/images/icon/close_small_white.svg');
}

/* 내정보 */
.userMenuList {
  margin-top: 8px;
  padding: 12px 16px;
  @apply bg-white border border-gray-100;
  border-radius: 8px;
}
.btnUser {
  gap: 4px;
  @apply text-lg;
}
.userMenuList a {
  display: block;
  @apply text-sm text-gray-500;
  line-height: 1.57;
  letter-spacing: 0;
}

.subTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 200px);
  @apply text-lg font-medium truncate text-center;
}

/* categoryHeader */
.categoryHeader {
  @apply flex items-center font-medium;
  @apply lg:gap-[16px] text-lg lg:text-34 lg:justify-center;
}
.categoryHeader .toggleButton {
  @apply flex items-center justify-center;
  @apply lg:border lg:border-gray-100 lg:w-[36px] lg:h-[36px] lg:rounded-full gap-[8px] lg:gap-0;
}
.dropdownList {
  @apply flex flex-col bg-white;
  @apply lg:mt-[16px] lg:border lg:border-primary lg:rounded-[16px] lg:p-[16px] lg:shadow-[0_5px_10px_rgba(0,0,0,0.05)];
  overflow: inherit !important;
}
.dropdownList::before {
  @apply hidden lg:block;
  @apply absolute w-[12px] h-[10px] left-[50%] top-[-9px] translate-x-[-50%];
  content: '';
  background: url('/images/icon/dropdown_arrow.png') no-repeat 0 0;
}
.dropdownList > a,
.dropdownList > button {
  @apply flex items-center text-base text-gray-500;
  @apply min-h-[56px] lg:min-h-[40px] px-[20px] lg:px-[16px] lg:rounded-full lg:transition-all;
}
.dropdownList > a:hover,
.dropdownList > button:hover {
  @apply text-primary bg-amber-50 font-medium;
}

/* PC > 1920 */
@media (min-width: 1920px) {
  .headerContent {
    padding: 0 60px;
  }
  .logo {
    margin-right: 60px;
  }
  .categoryWrapper {
    margin-right: 80px;
  }
  .gnbDepth1 {
    gap: 0 60px;
  }
  input.searchBtn {
    margin-right: 40px;
  }
}

/* MO */
@media (max-width: 1023px) {
  .header {
    padding-top: 0;
  }
  .header:not(.main) {
    @apply bg-white;
  }
  .headerContent {
    padding: 0 20px;
    box-shadow: none;
  }
  .logo {
    margin-right: 0;
  }
  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  .menuTop {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    flex-shrink: 0;
  }
  .login {
    flex-shrink: 0;
  }
  .menuList {
    display: flex;
    flex-grow: 1;
    min-height: 50%;
    @apply border-t border-gray-300;
  }
  .menuDepth1 {
    width: 140px;
    @apply border-r border-gray-100;
  }
  .menuDepth1 > li > a,
  .menuDepth1 > li > button {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    padding: 0 20px;
  }
  .menuDepth1 > li > .active {
    @apply bg-amber-50 text-primary;
  }
  .menuDepth2 {
    width: calc(100% - 140px);
    max-height: 100%;
    overflow-y: auto;
  }
  .menuDepth2 > li > a,
  .menuDepth2 > li > button {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    height: 56px;
    margin: 0 20px;
    gap: 12px;
    @apply text-gray-500 border-b border-gray-100 text-left text-base;
  }
  .menuDepth2.category > li > a img,
  .menuDepth2.category > li > button img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: -4px;
  }
  .menuDepth2.category > li.active > a,
  .menuDepth2.category > li.active > button {
    @apply text-primary;
    font-weight: 500;
  }
  .menuDepth2 > li > a:not(:only-child):after,
  .menuDepth2 > li > button:not(:only-child):after {
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    margin-left: auto;
    background: url('/images/icon/arrow_down2_gray.svg') no-repeat center/contain;
  }
  .menuDepth2 > li.active > a:not(:only-child):after,
  .menuDepth2 > li.active > button:not(:only-child):after {
    transform: rotate(180deg);
  }
  .menuDepth3 {
    max-height: 0;
    overflow: hidden;
  }
  .menuDepth3 > li > a,
  .menuDepth3 > li > button {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 20px;
    @apply text-gray-500;
  }
  .menuDepth3 > li > a:hover,
  .menuDepth3 > li > a:focus,
  .menuDepth3 > li > button:hover,
  .menuDepth3 > li > button:focus {
    @apply bg-amber-50 text-primary;
  }

  /* categoryHeader */
  .categoryHeader {
    @apply ml-auto;
  }
  .dropdownList {
    top: 60px !important;
    overflow: auto !important;
  }

  .categoryHeader .backdrop {
    @apply fixed left-0 right-0 bottom-0 top-[60px] bg-black/40;
  }

  .dropdownList {
    @apply flex flex-col w-full z-[var(--header-z)];
    position: fixed !important;
    max-height: calc(100vh - 60px) !important;
  }

  .dropdownList a,
  .dropdownList button {
    @apply relative bg-white;
  }

  .searchOverlay {
    height: calc(100vh - 60px);
    padding: 16px;
    margin: 0;
  }
}
