input.input {
  @apply border border-gray-300 px-[24px] py-[11px] text-base rounded-[8px];
}
input.input::placeholder {
  @apply text-gray-500;
}

.check:not(:last-child) {
  @apply mr-[20px]
}
.check {
  @apply text-sm text-gray-500;
}
.check img {
  width: 20px;
  height: 20px;
}

.linkList > li:not(:last-child)::after{
  content: '';
  @apply inline-block w-[1px] h-[10px] bg-gray-300 mx-[8px];
}
.linkList > li a,
.linkList > li button {
  @apply text-sm text-gray-500;
}