.tab {
  @apply flex border-b border-gray-300 mb-[30px];
}
.tab button {
  @apply relative flex-1 pb-[18px] text-xl text-gray-500 font-medium;
}
.tab button[aria-selected='true'] {
  @apply text-primary;
}
.tab button[aria-selected='true']::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  @apply bg-primary;
}

.tabCon > div:not(:last-child) {
  margin-bottom: 30px;
}
.tabCon .moFlexCol :global(.flex) {
  @apply flex-col lg:flex-row;
}