.imgSwiper :global(.swiper-pagination) {
  @apply bottom-[20px] lg:bottom-[30px] text-[0];
}

.productSwiper {
  position: static;
}
.productSwiper::after {
  @apply hidden lg:block absolute w-[100px] h-full right-0 top-0 z-[1];
  content: '';
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
}
.productSwiper.end::after {
  z-index: -1;
}
.productSwiper .active :global(.thumbnail:before) {
  content: '';
  @apply absolute left-0 top-0 w-full h-full border-2 border-secondary rounded-[8px] lg:rounded-[16px];
}
.productSwiper :global(.swiper-button-prev),
.productSwiper :global(.swiper-button-next) {
  @apply hidden lg:flex w-[48px] h-[48px] rounded-full bg-white top-[77.5px] mt-[-24px];
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.productSwiper :global(.swiper-button-prev) {
  left: 0;
}
.productSwiper :global(.swiper-button-next) {
  right: 0;
}
.productSwiper :global(.swiper-button-prev::after),
.productSwiper :global(.swiper-button-next::after) {
  @apply w-[24px] h-[24px];
  content: '';
  background: url('/images/icon/arrow_right_black.svg') no-repeat center/contain;
}
.productSwiper :global(.swiper-button-prev::after) {
  transform: rotate(180deg);
}
.productSwiper :global(.swiper-button-disabled) {
  @apply opacity-0;
}
