.infoBox {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0.4));
}
.infoBox::before {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 112px;
  height: 112px;
  background: url('/images/icon/play2.svg') no-repeat center/contain;
  transform: translate(-50%, -50%);
}
.infoBox .name,
.infoBox .title {
  text-shadow: 0 0 8px rgba(0,0,0,0.25);
}

@media (max-width: 1023px) {
  .infoBox::before {
    width: 64px;
    height: 64px;
  }
}